[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

#set-variable    = key_buffer=256M
#set-variable    = thread_concurrency=8
#set-variable    = myisam_sort_buffer_size=64M

skip-locking
set-variable    = key_buffer=384M
set-variable    = max_allowed_packet=1M
set-variable    = table_cache=512
set-variable    = sort_buffer=2M
set-variable    = record_buffer=2M
set-variable    = thread_cache=8
# Try number of CPU's*2 for thread_concurrency
set-variable    = thread_concurrency=8
set-variable    = myisam_sort_buffer_size=64M

log-bin=/cdf/work/backups/mysql/fcdfwww-bin
     
[mysql.server]
user=mysql
basedir=/var/lib

[safe_mysqld]
err-log=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/var/lib/mysql/mysql.sock
